.app {

  background: #C6FFDD;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ffffff, rgb(255, 0, 0), rgb(0, 0, 0));
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ffffff, rgb(255, 0, 0), rgb(0, 0, 0));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Freckle Face', cursive;
}

.h1 {
  text-align: center;
  font-size: 72px;
  padding: 30px;

}



.cards {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }

.cards-detail {

  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 250px;
  border-radius: 20px;
  border: 2px solid black;
  margin: 30px;

}

.card-image {
  width: 100%;
}